/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.page[data-page="connection-check"] .page-content {
  overflow-x: hidden;
  background: #024C74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0; }
  .page[data-page="connection-check"] .page-content img#image-offlinewifi {
    margin-left: auto;
    margin-right: auto;
    width: 60px; }
  .page[data-page="connection-check"] .page-content .style1 {
    color: white;
    text-align: center; }
  .page[data-page="connection-check"] .page-content .morePadding {
    padding-left: 4%;
    padding-right: 4%; }
  .page[data-page="connection-check"] .page-content .nomargintop {
    margin-top: 0; }
  .page[data-page="connection-check"] .page-content img#image-logo {
    margin-left: auto;
    margin-right: auto;
    width: 74px; }

@media screen and (max-height: 320px) {
  .page[data-page="connection-check"] img#image-logo {
    width: 58px !important; } }
