/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.page[data-name="current-show"] {
  /*.page-content {
        overflow-x: hidden;
        padding-bottom: 0 !important;
    }*/ }
  .page[data-name="current-show"] .page-content {
    overflow-x: hidden;
    padding-bottom: 0 !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; }
    .page[data-name="current-show"] .page-content .scroll-frame {
      overflow: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      height: 100%; }
      .page[data-name="current-show"] .page-content .scroll-frame .webview-frame {
        width: 100%;
        height: 100%;
        border: none;
        vertical-align: top; }
  .page[data-name="current-show"] div.toolbar.toolbar-bottom-md.slideUp {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .page[data-name="current-show"] div.toolbar.toolbar-bottom-md {
    overflow: hidden;
    border-top: 1px solid white;
    background: #FFCE4D;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    position: absolute;
    bottom: 0; }
    .page[data-name="current-show"] div.toolbar.toolbar-bottom-md .toolbar-inner a.link {
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      .page[data-name="current-show"] div.toolbar.toolbar-bottom-md .toolbar-inner a.link .icon-wrapper {
        position: relative;
        top: -4px; }
        .page[data-name="current-show"] div.toolbar.toolbar-bottom-md .toolbar-inner a.link .icon-wrapper svg {
          width: 27px;
          height: 24px;
          margin-left: auto;
          margin-right: auto; }
      .page[data-name="current-show"] div.toolbar.toolbar-bottom-md .toolbar-inner a.link h5 {
        position: absolute;
        color: #024C74; }
      @media screen and (max-width: 320px) {
        .page[data-name="current-show"] div.toolbar.toolbar-bottom-md .toolbar-inner a.link h5 {
          letter-spacing: 0.3px; } }
    .page[data-name="current-show"] div.toolbar.toolbar-bottom-md .toolbar-inner .link.both:first-child {
      border-right: 2px solid #fddf93; }
