/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.ios .card,
.md .card {
  display: inline-block;
  -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.25); }
  .ios .card .card-img,
  .md .card .card-img {
    display: block;
    width: 100%;
    height: auto; }

.ios .page.webview-page .page-content,
.md .page.webview-page .page-content {
  overflow: scroll;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%; }
  .ios .page.webview-page .page-content .webview-frame-wrapper,
  .md .page.webview-page .page-content .webview-frame-wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    width: 100vw !important;
    height: 100%; }
    .ios .page.webview-page .page-content .webview-frame-wrapper iframe.webview-frame,
    .md .page.webview-page .page-content .webview-frame-wrapper iframe.webview-frame {
      display: block;
      width: 100vw !important;
      height: 100%;
      vertical-align: top;
      border: none;
      -webkit-transform: none !important;
              transform: none !important; }
      .ios .page.webview-page .page-content .webview-frame-wrapper iframe.webview-frame[has-toolbar],
      .md .page.webview-page .page-content .webview-frame-wrapper iframe.webview-frame[has-toolbar] {
        padding-bottom: 80px; }

.ios .page .links-list a,
.md .page .links-list a {
  background-image: url(../resources/images/ui/links_list_right.svg); }

.ios .navbar,
.md .navbar {
  height: 66px; }
  .ios .navbar .navbar-inner .left,
  .md .navbar .navbar-inner .left {
    position: relative;
    z-index: 100; }
  .ios .navbar .navbar-inner .title,
  .md .navbar .navbar-inner .title {
    width: 100%;
    position: absolute;
    z-index: 50;
    margin-left: -2px;
    text-align: center; }
  .ios .navbar:after,
  .md .navbar:after {
    background: none !important; }

/* === Pages === */
.md .page-next {
  -webkit-transform: unset;
          transform: unset;
  opacity: 0;
  pointer-events: none; }

.md .page-transitioning {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms; }

.md .router-transition-css-forward .page-next {
  -webkit-animation: md-page-next-to-current 400ms forwards;
          animation: md-page-next-to-current 400ms forwards; }

.md .router-transition-css-forward .page-current {
  -webkit-animation: none;
          animation: none; }

.md .router-transition-css-backward .page-current {
  -webkit-animation: md-page-current-to-next 400ms forwards;
          animation: md-page-current-to-next 400ms forwards; }

.md .router-transition-css-backward .page-previous {
  -webkit-animation: none;
          animation: none; }

@-webkit-keyframes md-page-next-to-current {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes md-page-next-to-current {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes md-page-current-to-next {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    opacity: 0; } }

@keyframes md-page-current-to-next {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    opacity: 0; } }

/* === Custom 1 === */
.preloader-backdrop {
  margin-top: 66px !important;
  background: rgba(255, 255, 255, 0.8) !important;
  opacity: 1; }

.preloader-backdrop.alt1 {
  opacity: 0; }

html.no-opacity-dialog .dialog-backdrop.backdrop-in {
  opacity: 0 !important; }

.dialog-preloader.modal-in {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: transparent !important; }
