/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.page[data-page="home"] .page-content {
  overflow-x: hidden; }
  .page[data-page="home"] .page-content .homeWallTitle {
    padding-top: 29px;
    padding-left: 21px !important;
    margin-bottom: 16px; }
    .page[data-page="home"] .page-content .homeWallTitle.current-shows {
      padding-top: 22px; }
  .page[data-page="home"] .page-content .bigCardsCol {
    width: calc( 100% - 16px); }
    .page[data-page="home"] .page-content .bigCardsCol:nth-child(odd) {
      margin-top: 12px; }
  .page[data-page="home"] .page-content .card .card-content * {
    margin: 0; }
  .page[data-page="home"] .page-content .card .card-content h3.small-card-title {
    overflow: hidden;
    text-overflow: ellipsis; }
  .page[data-page="home"] .page-content .card .card-footer:before {
    content: none; }
  .page[data-page="home"] .page-content .card .card-footer svg,
  .page[data-page="home"] .page-content .card .card-footer .svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-right: 12px; }
  .page[data-page="home"] .page-content .card .card-footer p {
    color: #64686f;
    max-height: 28px; }
    .page[data-page="home"] .page-content .card .card-footer p.small-card-pragraph {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      min-height: 28px; }
    .page[data-page="home"] .page-content .card .card-footer p span {
      color: #F5F5F5;
      font-family: 'open_sansregular', sans-serif; }
  .page[data-page="home"] .page-content .card.home-big-card {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: block;
    position: relative;
    width: 100%;
    max-width: none;
    min-width: 0;
    height: auto; }
    .page[data-page="home"] .page-content .card.home-big-card::before {
      display: block;
      content: "";
      padding-top: 136.363636364%; }
    .page[data-page="home"] .page-content .card.home-big-card > * {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 100%; }
    .page[data-page="home"] .page-content .card.home-big-card > picture img,
    .page[data-page="home"] .page-content .card.home-big-card > img,
    .page[data-page="home"] .page-content .card.home-big-card > svg,
    .page[data-page="home"] .page-content .card.home-big-card > video {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
    .page[data-page="home"] .page-content .card.home-big-card .home-big-card__contents {
      overflow: hidden;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      z-index: 2;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: linear-gradient(to bottom, rgba(2, 76, 116, 0) 0%, #024c74 150px, #024c74 100%);
      width: 100%;
      height: auto;
      max-height: 100%;
      padding-top: 150px; }
      .page[data-page="home"] .page-content .card.home-big-card .home-big-card__contents .card-content h2:empty,
      .page[data-page="home"] .page-content .card.home-big-card .home-big-card__contents .card-content h4:empty {
        display: none; }
      .page[data-page="home"] .page-content .card.home-big-card .home-big-card__contents .card-footer {
        padding: 9px 16px;
        font-size: 10px;
        line-height: 16px; }
        .page[data-page="home"] .page-content .card.home-big-card .home-big-card__contents .card-footer p {
          color: white !important; }
  .page[data-page="home"] .page-content .carousel {
    overflow: visible;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding-left: 24px; }
    .page[data-page="home"] .page-content .carousel .flickity-viewport {
      overflow: visible; }
      .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 85%; }
        .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-img {
          display: block;
          display: block;
          position: relative;
          width: 100%;
          max-width: none;
          min-width: 0;
          height: auto; }
          .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-img::before {
            display: block;
            content: "";
            padding-top: 46.6666666667%; }
          .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-img > * {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: 0;
            z-index: auto;
            visibility: inherit;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            height: 100%; }
          .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-img > picture img,
          .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-img > img,
          .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-img > svg,
          .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-img > video {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: 0;
            z-index: auto;
            visibility: inherit;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center;
               object-position: center; }
          .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-img img {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: 0;
            z-index: auto;
            visibility: inherit;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: top;
               object-position: top; }
        .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-content {
          min-height: 120px;
          max-height: 120px; }
        .page[data-page="home"] .page-content .carousel .flickity-viewport .flickity-slider .carousel-cell.card .card-footer {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }

.page[data-page="home"] #home-page__info-block {
  margin-top: 12px; }
  .page[data-page="home"] #home-page__info-block .row .list {
    margin-top: 0; }
    .page[data-page="home"] #home-page__info-block .row .list ul li a {
      color: #024C74; }
