/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
@font-face {
  font-family: 'open_sansbold';
  src: url("../resources/fonts/opensans-bold-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold_italic';
  src: url("../resources/fonts/opensans-bolditalic-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../resources/fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("../resources/fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansitalic';
  src: url("../resources/fonts/opensans-italic-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../resources/fonts/opensans-light-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../resources/fonts/opensans-lightitalic-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../resources/fonts/opensans-regular-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../resources/fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("../resources/fonts/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../resources/fonts/opensans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink; }
  *::after, *::before {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-text-decoration-skip: inherit;
            text-decoration-skip: inherit;
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

html,
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'open_sansregular', sans-serif !important;
  height: 100%; }

body {
  background: white;
  max-width: 100vw !important; }

h1 {
  font-family: 'open_sansbold', sans-serif !important;
  font-size: 21px;
  line-height: 28px; }
  h1.uppercase {
    letter-spacing: 0.5px;
    text-transform: uppercase; }

h2 {
  font-family: 'open_sansbold', sans-serif !important;
  font-size: 18px;
  line-height: 24px; }
  h2.lowercase {
    /*
            *home section titles
        */ }
    h2.lowercase.semibold {
      font-family: 'open_sanssemibold', sans-serif !important;
      /*
                *main menu list element = cp: menu.scss ul#mainMenu li a
                *special content pre-authorization message
                *postcard drawer choose postcard title
            */ }
  h2.uppercase {
    letter-spacing: 0.5px;
    text-transform: uppercase; }

h3 {
  font-family: 'open_sansbold', sans-serif !important;
  font-size: 16px;
  line-height: 20px; }
  h3.lowercase {
    /*
            *small card title
        */ }
  h3.uppercase {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    /*
            *postcard composer reset/confirm buttons
            *postcard share postcard title
            *postcard share restart button
        */ }

h4 {
  font-family: 'open_sanssemibold', sans-serif !important;
  font-size: 14px;
  line-height: 18px; }
  h4 .lowercase {
    /*
            *big card subtitle
        */ }
  h4 .uppercase {
    letter-spacing: 0.5px;
    text-transform: uppercase; }

h5, h6 {
  font-family: 'open_sansbold', sans-serif !important;
  font-size: 12px;
  line-height: 16px; }
  h5.uppercase, h6.uppercase {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    /*
            *main menu title
            *main menu language selector = cp: menu.scss #menuLangWrapper button
            *app navbars title
            *current shows special buttons text
            *postcard share button text = cp: postcard-share.css .col-60.shareAction button
            *special content auth button = cp: special-content.css .special-gallery-submit-btn
        */ }

.text-large {
  font-family: 'open_sansregular';
  font-size: 16px;
  line-height: 24px; }
  .text-large.semibold {
    font-family: 'open_sanssemibold';
    /*
            *home footer menu element
        */ }

p,
.text-medium {
  font-family: 'open_sansregular';
  font-size: 16px;
  line-height: 24px; }
  p .semibold,
  .text-medium .semibold {
    font-family: 'open_sanssemibold'; }

.text-small {
  font-family: 'open_sansregular';
  font-size: 10px;
  line-height: 16px; }
  .text-small.semibold {
    font-family: 'open_sanssemibold';
    /*
            *big card footer text
            *small card footer text
            *special content pre-authorization password placeholder = cp: special-content.scss .item-input-wrap form input
        */ }
  .text-small .big-card-variant {
    font-family: 'open_sansregular' !important; }

/*
    ????NOTESdisegna qui
    transform: rotate(-12deg);
    font-family: Noteworthy-Bold;
    font-size: 12px;
    color: #64686F;
    letter-spacing: 0.71px;
    text-align: center;

*/
.rect-boxshadow {
  -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.25); }

.text-trim_singleLine {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.text-trim_multiLine {
  text-overflow: ellipsis;
  overflow: hidden; }
