/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
html.device-ios .page[data-name="current-show"] {
  /*.page-content {
            overflow-x: hidden;
            padding-bottom: 0 !important;
            position: absolute;
            top:50px;
            bottom:50px;
            left:50px;
            right:50px;
            background: wheat;
            .scroll_frame {
                overflow: auto;
                overflow-x: hidden;
                -webkit-overflow-scrolling:touch;
                width: 100%;
                height: 100%;
                border: 1px solid #e0e0e0;
                .x_frame {
                    width: 100%;
                    height: 100%;
                    border: none;
                    vertical-align: top;
                }
            }
        }*/ }
  html.device-ios .page[data-name="current-show"] div.toolbar.toolbar-bottom-md a.link p {
    letter-spacing: normal !important; }
