/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.page[data-name="listing"] .page-content {
  overflow-x: hidden; }
  .page[data-name="listing"] .page-content .col-100 {
    width: calc( 100% - 16px); }
    .page[data-name="listing"] .page-content .col-100:nth-child(odd) {
      margin-top: 12px; }
  .page[data-name="listing"] .page-content .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 24px; }
    .page[data-name="listing"] .page-content .card .card-img {
      display: block;
      display: block;
      position: relative;
      width: 100%;
      max-width: none;
      min-width: 0;
      height: auto; }
      .page[data-name="listing"] .page-content .card .card-img::before {
        display: block;
        content: "";
        padding-top: 46.6666666667%; }
      .page[data-name="listing"] .page-content .card .card-img > * {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        height: 100%; }
      .page[data-name="listing"] .page-content .card .card-img > picture img,
      .page[data-name="listing"] .page-content .card .card-img > img,
      .page[data-name="listing"] .page-content .card .card-img > svg,
      .page[data-name="listing"] .page-content .card .card-img > video {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center; }
      .page[data-name="listing"] .page-content .card .card-img img {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: top;
           object-position: top; }
    .page[data-name="listing"] .page-content .card .card-content {
      min-height: 120px;
      max-height: 120px; }
      .page[data-name="listing"] .page-content .card .card-content * {
        margin: 0; }
      .page[data-name="listing"] .page-content .card .card-content h2,
      .page[data-name="listing"] .page-content .card .card-content h3 {
        overflow: hidden;
        text-overflow: ellipsis; }
      .page[data-name="listing"] .page-content .card .card-content h4:empty {
        display: none; }
    .page[data-name="listing"] .page-content .card .card-footer {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .page[data-name="listing"] .page-content .card .card-footer:before {
        content: none; }
      .page[data-name="listing"] .page-content .card .card-footer svg,
      .page[data-name="listing"] .page-content .card .card-footer .svg {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        margin-right: 12px; }
      .page[data-name="listing"] .page-content .card .card-footer p {
        color: #64686f;
        max-height: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-height: 28px; }
        .page[data-name="listing"] .page-content .card .card-footer p span {
          color: #F5F5F5;
          font-family: 'open_sansregular', sans-serif; }
