/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.page[data-name="show-listing"] .page-content {
  overflow-x: hidden; }
  .page[data-name="show-listing"] .page-content .col-100 {
    width: calc( 100% - 16px); }
  .page[data-name="show-listing"] .page-content .card {
    margin-bottom: 24px; }
    .page[data-name="show-listing"] .page-content .card .card-content * {
      margin: 0; }
    .page[data-name="show-listing"] .page-content .card .card-footer:before {
      content: none; }
    .page[data-name="show-listing"] .page-content .card .card-footer svg,
    .page[data-name="show-listing"] .page-content .card .card-footer .svg {
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      margin-right: 12px; }
    .page[data-name="show-listing"] .page-content .card .card-footer p {
      font-size: 10px;
      line-height: 16px;
      color: #64686f;
      font-family: 'open_sanssemibold', sans-serif; }
      .page[data-name="show-listing"] .page-content .card .card-footer p span {
        color: #F5F5F5;
        font-family: 'open_sansregular', sans-serif; }
    .page[data-name="show-listing"] .page-content .card.home-big-card {
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      display: block;
      position: relative;
      width: 100%;
      max-width: none;
      min-width: 0;
      height: auto; }
      .page[data-name="show-listing"] .page-content .card.home-big-card::before {
        display: block;
        content: "";
        padding-top: 136.363636364%; }
      .page[data-name="show-listing"] .page-content .card.home-big-card > * {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        height: 100%; }
      .page[data-name="show-listing"] .page-content .card.home-big-card > picture img,
      .page[data-name="show-listing"] .page-content .card.home-big-card > img,
      .page[data-name="show-listing"] .page-content .card.home-big-card > svg,
      .page[data-name="show-listing"] .page-content .card.home-big-card > video {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center; }
      .page[data-name="show-listing"] .page-content .card.home-big-card .home-big-card__contents {
        overflow: hidden;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        z-index: 2;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background: linear-gradient(to bottom, rgba(2, 76, 116, 0) 0%, #024c74 150px, #024c74 100%);
        width: 100%;
        height: auto;
        max-height: 100%;
        padding-top: 150px; }
        .page[data-name="show-listing"] .page-content .card.home-big-card .home-big-card__contents .card-footer {
          font-size: 10px;
          line-height: 16px; }
          .page[data-name="show-listing"] .page-content .card.home-big-card .home-big-card__contents .card-footer p {
            color: white !important; }
