/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#hamburger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #hamburger-btn span {
    width: 100%;
    height: 3px;
    background-color: white; }

#main-menu .view .navbar .navbar-inner .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-flex-negative: 10;
      flex-shrink: 10;
  z-index: 50;
  text-align: left;
  position: static;
  margin-left: 16px; }

#main-menu .view .navbar .navbar-inner .left .link.popup-close {
  padding: 0;
  min-width: 0; }
  #main-menu .view .navbar .navbar-inner .left .link.popup-close::before {
    content: none; }

#main-menu .page {
  background-image: url(../resources/menu/bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  #main-menu .page .page-content {
    background-color: rgba(2, 76, 116, 0.96); }
    #main-menu .page .page-content .list ul::before, #main-menu .page .page-content .list ul::after {
      content: none; }

#main-menu__logo {
  display: block;
  width: 40%;
  max-width: 120px;
  margin-top: 40px; }

ul#mainMenu li {
  height: 56px; }
  ul#mainMenu li a {
    color: white;
    line-height: 56px;
    font-family: 'open_sanssemibold', sans-serif !important;
    font-size: 18px;
    letter-spacing: 0.2px; }
  ul#mainMenu li.empty {
    display: none; }

#menuLangWrapper {
  position: absolute;
  right: 10px;
  z-index: 200;
  text-align: center; }
  #menuLangWrapper button {
    cursor: pointer;
    font-family: 'open_sansbold', sans-serif !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: inline-block;
    min-width: 37px;
    max-width: 37px;
    width: 37px;
    padding: 0;
    color: #C1C3C7;
    margin-left: -5px; }
  #menuLangWrapper button.underline {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: white; }
  #menuLangWrapper .langAction {
    display: inline-block;
    cursor: pointer;
    margin-right: 9px;
    border-radius: 50%; }

li.accordion-item.accordion-item-opened #infoMenuWrapper {
  background-image: url(../resources/images/ui/menu_more_up.svg);
  background-size: 12px 12px; }

li.accordion-item #infoMenuWrapper {
  background-image: url(../resources/images/ui/menu_more_right.svg);
  background-size: 12px 12px; }
