/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
/**** MODAL SHEET / POSTCARDS LIST ****/
.sheet-modal.postcards-list {
  -webkit-transform: translate3d(-300px, 0, 0);
          transform: translate3d(-300px, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background: #024C74 !important;
  text-align: center; }
  .sheet-modal.postcards-list h2 {
    color: white; }
  .sheet-modal.postcards-list .sheet-modal-inner {
    overflow: auto; }
    .sheet-modal.postcards-list .sheet-modal-inner .block {
      padding: 0 6px; }
      .sheet-modal.postcards-list .sheet-modal-inner .block .sheet-modal-inner__title {
        margin-bottom: 24px; }
  .sheet-modal.postcards-list .postcard-wrapper {
    float: left;
    width: 80px;
    margin-left: 12px;
    margin-bottom: 12px;
    height: 103px; }
    .sheet-modal.postcards-list .postcard-wrapper .overlay {
      position: absolute;
      height: 103px;
      width: 80px;
      background-color: #024C74;
      background-image: url("../resources/images/loader.svg");
      background-repeat: no-repeat;
      background-position: center; }
    .sheet-modal.postcards-list .postcard-wrapper img.postcard {
      width: 80px;
      height: 103px;
      cursor: pointer; }

.sheet-modal.postcards-list.modal-in {
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /*transform: unset;
    transform: translateX(0%);*/ }

/**/
/*html.device-desktop,*/
html.device-android-5 .page[data-page="postcard-composer"] {
  background: #efefef; }
  html.device-android-5 .page[data-page="postcard-composer"] .postcard-editor .drawer-wrapper .artboard-drawer {
    -webkit-box-shadow: none;
            box-shadow: none; }

.page[data-page="postcard-composer"] .page-content {
  overflow: hidden; }

.page[data-page="postcard-composer"] .color-picker-menu,
.page[data-page="postcard-composer"] .stroke-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: inherit; }

.page[data-page="postcard-composer"] .color-picker-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .page[data-page="postcard-composer"] .color-picker-menu header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    min-height: 50px;
    width: 100%;
    padding-bottom: 10px; }
    .page[data-page="postcard-composer"] .color-picker-menu header svg {
      width: 36px; }
  .page[data-page="postcard-composer"] .color-picker-menu .picker-colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-height: 450px; }
  .page[data-page="postcard-composer"] .color-picker-menu div {
    margin-left: auto;
    margin-right: auto; }
  .page[data-page="postcard-composer"] .color-picker-menu img {
    width: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .page[data-page="postcard-composer"] .color-picker-menu #colorPickerTopDivider {
    width: 30%;
    height: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D8D8D8; }
  .page[data-page="postcard-composer"] .color-picker-menu .picker-color-btn {
    overflow: visible;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    width: 26px !important;
    height: 26px !important;
    border-radius: 50% !important;
    margin-bottom: 4px;
    background: currentColor; }
    .page[data-page="postcard-composer"] .color-picker-menu .picker-color-btn span {
      display: block;
      overflow: visible;
      position: absolute;
      top: -3px;
      right: auto;
      bottom: auto;
      left: -3px;
      z-index: 2;
      visibility: hidden;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      content: "";
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border-radius: 50%;
      border: 1px solid currentColor;
      pointer-events: none;
      will-change: opacity; }
    .page[data-page="postcard-composer"] .color-picker-menu .picker-color-btn.active span {
      visibility: visible; }

.page[data-page="postcard-composer"] .postcard-editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 25px 0; }
  .page[data-page="postcard-composer"] .postcard-editor .artboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - (110px + 110px));
    height: inherit; }
  .page[data-page="postcard-composer"] .postcard-editor .drawer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative;
    top: 0;
    left: 0; }
    .page[data-page="postcard-composer"] .postcard-editor .drawer-wrapper .artboard-drawer {
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0);
      -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.18);
              box-shadow: 0 15px 20px rgba(0, 0, 0, 0.18);
      border: none;
      background: white; }
      .page[data-page="postcard-composer"] .postcard-editor .drawer-wrapper .artboard-drawer img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .page[data-page="postcard-composer"] .postcard-editor .drawer-wrapper .artboard-drawer canvas {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: white; }
  .page[data-page="postcard-composer"] .postcard-editor .artboard-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
    .page[data-page="postcard-composer"] .postcard-editor .artboard-menu a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      will-change: opacity;
      -webkit-transition: opacity 0.3s ease 0.1s;
      transition: opacity 0.3s ease 0.1s;
      margin-bottom: 0;
      height: 100%; }
      .page[data-page="postcard-composer"] .postcard-editor .artboard-menu a:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 39px;
        color: dimgrey; }

.page[data-page="postcard-composer"] .stroke-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .page[data-page="postcard-composer"] .stroke-menu header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    min-height: 50px;
    width: 100%;
    padding-bottom: 10px; }
    .page[data-page="postcard-composer"] .stroke-menu header svg {
      width: 27px;
      cursor: pointer; }
  .page[data-page="postcard-composer"] .stroke-menu .stroke-menu-dragger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-height: 450px; }
  .page[data-page="postcard-composer"] .stroke-menu div {
    margin: 0 auto; }
  .page[data-page="postcard-composer"] .stroke-menu img {
    display: block;
    /*width: 39px;*/
    height: 29.5px;
    margin: 0 auto; }
  .page[data-page="postcard-composer"] .stroke-menu #strokeMenuTopDivider {
    width: 30%;
    height: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D8D8D8; }
  .page[data-page="postcard-composer"] .stroke-menu #strokeColorTop {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 26px;
    height: 26px;
    background: #000000; }
  .page[data-page="postcard-composer"] .stroke-menu .stroke-slider {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    overflow: visible;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin-left: auto;
    margin-right: auto; }
    .page[data-page="postcard-composer"] .stroke-menu .stroke-slider::before {
      content: "";
      width: 2px;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: calc(50% - 1px);
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: #ccc; }
    .page[data-page="postcard-composer"] .stroke-menu .stroke-slider .drag {
      width: auto;
      height: auto;
      overflow: visible;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 100;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      line-height: 1; }
      .page[data-page="postcard-composer"] .stroke-menu .stroke-slider .drag::before {
        content: "";
        overflow: hidden;
        position: absolute;
        top: -50%;
        right: auto;
        bottom: auto;
        left: -50%;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 200%;
        height: 200%;
        background: transparent;
        border-radius: 50%; }
      .page[data-page="postcard-composer"] .stroke-menu .stroke-slider .drag #indicator {
        overflow: hidden;
        position: relative;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: 20px;
        width: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #f8f8f8;
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
  .page[data-page="postcard-composer"] .stroke-menu #drag_level {
    overflow: hidden;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 50%;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 2px;
    height: auto;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0); }
  .page[data-page="postcard-composer"] .stroke-menu #strokeColorBottom {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #000000;
    margin-top: 10px; }
    .page[data-page="postcard-composer"] .stroke-menu #strokeColorBottom::after {
      overflow: hidden;
      position: absolute;
      top: auto;
      right: auto;
      bottom: -22px;
      left: 0;
      z-index: 2;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: white;
      width: 20px;
      height: 35px; }
      html.device-ios .page[data-page="postcard-composer"] .stroke-menu #strokeColorBottom::after {
        content: ""; }

.page[data-page="postcard-composer"] .strokeColor {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  will-change: background-color; }
