/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.page[data-page="postcard-share"] {
  /**/ }
  .page[data-page="postcard-share"] .navbar {
    background: #ffce4d !important;
    color: #024c74 !important; }
  .page[data-page="postcard-share"] .navbar .title {
    text-align: center; }
  .page[data-page="postcard-share"] h3#showName {
    text-align: center; }
  .page[data-page="postcard-share"] #sharePageCanvasWrapper {
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    width: 742px;
    height: 476px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: none;
    opacity: 0;
    -webkit-transition: opacity 1.1s ease 0.2s;
    transition: opacity 1.1s ease 0.2s;
    will-change: opacity; }
    .page[data-page="postcard-share"] #sharePageCanvasWrapper canvas {
      width: 100%;
      height: 100%;
      background: white !important; }
  .page[data-page="postcard-share"] .col-60.shareAction button {
    color: white;
    background: #005B8A;
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    font-family: 'open_sansbold', sans-serif !important;
    font-size: 12px;
    line-height: 16px; }
  .page[data-page="postcard-share"] .col-60.restartAction {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 30px;
    min-height: 30px;
    max-height: 30px; }
    .page[data-page="postcard-share"] .col-60.restartAction a svg {
      position: relative;
      top: 2px;
      margin-right: 9px; }
    .page[data-page="postcard-share"] .col-60.restartAction a h3 {
      color: dimgrey;
      display: inline; }
  .page[data-page="postcard-share"] .svgWhite {
    width: 16px;
    height: 16px; }
  .page[data-page="postcard-share"] .svgWhite path {
    fill: white; }
