/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* --- end INPUT PLACEHOLDER --- */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.page[data-page="special-content"] .special-gallery-submit-btn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #024c74 !important;
  font-family: 'open_sansbold', sans-serif !important;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.page[data-page="special-content"] .display-error {
  display: none;
  font-size: 14px;
  margin-top: 10px; }

.page[data-page="special-content"] .navbar {
  background: #ffce4d; }
  .page[data-page="special-content"] .navbar .title {
    color: #024c74; }

.page[data-page="special-content"] .page-content {
  overflow-x: hidden;
  overflow-y: hidden;
  background: black; }
  .page[data-page="special-content"] .page-content .display-text {
    text-align: center; }
  .page[data-page="special-content"] .page-content #codeCheck {
    background: #024C74;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center; }
    .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper {
      width: 72%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 14%;
      font-size: 2rem;
      color: white; }
      .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper .item-input-wrap {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        color: white;
        margin-left: auto;
        margin-right: auto; }
        .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper .item-input-wrap form {
          cursor: pointer;
          padding-top: 38px; }
          .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper .item-input-wrap form svg {
            position: absolute;
            width: 18px;
            height: 18px;
            margin-top: 23px; }
          .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper .item-input-wrap form input {
            width: 100%;
            margin-left: 30px;
            display: inline-block;
            text-align: left;
            color: white;
            font-family: 'open_sanssemibold';
            font-size: 10px;
            line-height: 16px; }
          .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper .item-input-wrap form input::-webkit-input-placeholder {
            color: white; }
          .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper .item-input-wrap form input::-ms-input-placeholder {
            color: white; }
          .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper .item-input-wrap form input::placeholder {
            color: white; }
          .page[data-page="special-content"] .page-content #codeCheck .heading-wrapper .item-input-wrap form .input-clear-button {
            position: absolute;
            top: auto;
            bottom: auto;
            left: auto;
            right: 15%;
            margin-top: -27px;
            background: rgba(255, 255, 255, 0.5); }
  .page[data-page="special-content"] .page-content #specialContent {
    background: black;
    height: 100%;
    width: 100%;
    display: none;
    /*.swiper-container{
                height:75vh;
            }*/ }
    .page[data-page="special-content"] .page-content #specialContent h4#imageCaption {
      color: white;
      padding-bottom: 0px;
      margin-bottom: 0px;
      text-align: center;
      opacity: 1;
      -webkit-transition: opacity 0.1s ease-out;
      transition: opacity 0.1s ease-out;
      min-height: 21px;
      max-height: 21px;
      text-overflow: ellipsis;
      overflow: hidden; }
      .page[data-page="special-content"] .page-content #specialContent h4#imageCaption span {
        color: black; }
    .page[data-page="special-content"] .page-content #specialContent h6 {
      border-top: 1px solid #2f2f2f;
      margin-top: 8px;
      margin-bottom: 0; }
    .page[data-page="special-content"] .page-content #specialContent .bottom-toolbar {
      height: 45px;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-top: 1px solid #2f2f2f; }
      .page[data-page="special-content"] .page-content #specialContent .bottom-toolbar div {
        margin-left: auto;
        margin-right: auto;
        width: 200px; }
        .page[data-page="special-content"] .page-content #specialContent .bottom-toolbar div .myButton {
          background: none !important;
          width: 100px;
          float: left; }
          .page[data-page="special-content"] .page-content #specialContent .bottom-toolbar div .myButton img {
            width: 16px;
            height: 16px; }
    .page[data-page="special-content"] .page-content #specialContent .demo-swiper {
      margin: 0px 0 35px;
      font-size: 18px;
      height: 100%; }
      .page[data-page="special-content"] .page-content #specialContent .demo-swiper .swiper-slide {
        font-size: 25px;
        font-weight: 300;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: #fff;
        color: #000;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 1px solid #ddd; }
      .page[data-page="special-content"] .page-content #specialContent .demo-swiper .demo-swiper-auto .swiper-slide {
        width: 85%; }
      .page[data-page="special-content"] .page-content #specialContent .demo-swiper .demo-swiper-auto .swiper-slide:nth-child(2n) {
        width: 70%; }
      .page[data-page="special-content"] .page-content #specialContent .demo-swiper .demo-swiper-auto .swiper-slide:nth-child(3n) {
        width: 30%; }
