<div class="page" data-page="postcard-share">

    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="&#239;&#131;&#137;" d="M15.3281 18.5L24.9609 28.1328C25.1016 28.3438 25.1719 28.5547 25.1719 28.7656C25.1719 29.0469 25.1016 29.1875 24.9609 29.3281L24.3281 29.9609C24.1875 30.1016 23.9766 30.1719 23.7656 30.1719C23.4844 30.1719 23.2734 30.1016 23.1328 29.9609L13.5 20.2578L3.86719 29.9609C3.65625 30.1016 3.44531 30.1719 3.23438 30.1719C2.95312 30.1719 2.8125 30.1016 2.67188 29.9609L2.03906 29.3281C1.89844 29.1875 1.82812 29.0469 1.82812 28.7656C1.82812 28.5547 1.89844 28.3438 2.03906 28.1328L11.7422 18.5L2.03906 8.86719C1.89844 8.72656 1.82812 8.51562 1.82812 8.23438C1.82812 8.02344 1.89844 7.8125 2.03906 7.67188L2.67188 7.03906C2.8125 6.89844 2.95312 6.82812 3.23438 6.82812C3.44531 6.82812 3.65625 6.89844 3.86719 7.03906L13.5 16.6719L23.1328 7.03906C23.2734 6.89844 23.4844 6.82812 23.7656 6.82812C23.9766 6.82812 24.1875 6.89844 24.3281 7.03906L24.9609 7.67188C25.1016 7.8125 25.1719 8.02344 25.1719 8.23438C25.1719 8.51562 25.1016 8.72656 24.9609 8.86719L15.3281 18.5Z" transform="translate(-1 -6.08749)" fill="white"/>
                        </svg>
                    <span class="ios-only">Indietro</span>
                </a>
            </div>
            <h5 class="title uppercase">{{ label 'postcard-share_title' }}</h5>
        </div>
    </div>


    <div class="page-content">

        <div style="display: block;height:3%;width: 100%;"></div>

        <h3 class="col-100 padding-left padding-right uppercase" id="showName">...show title is taken from js...</h3>

        <div class="row">

            <div id="sharePageCanvasWrapper">
                <canvas class="sharePage"></canvas>
            </div>
            

        </div>
        <div class="row" style="margin-top:32px;">

            <div class="col-20"></div>

            <div class="col-60 shareAction">
                <button @click="sharePostcard()" class="col button button-big">{{ label 'share' }}</button>
            </div>

            <div class="col-20"></div>

        </div>

        <div class="row " style="margin-top:32px;">

            <div class="col-20"></div>

            <div class="col-60 restartAction">
                <a @click="resetArtboard()">
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7083 0.25C15.8021 0.25 15.8958 0.3125 15.9583 0.375C16.0208 0.4375 16.0833 0.53125 16.0833 0.625V6.625C16.0833 6.75 16.0208 6.84375 15.9583 6.90625C15.8958 6.96875 15.8021 7 15.7083 7H9.70833C9.58333 7 9.48958 6.96875 9.42708 6.90625C9.36458 6.84375 9.33333 6.75 9.33333 6.625V5.75C9.33333 5.65625 9.36458 5.5625 9.42708 5.5C9.48958 5.4375 9.58333 5.375 9.70833 5.375L13.6771 5.46875C13.1771 4.40625 12.4271 3.53125 11.4271 2.875C10.4271 2.21875 9.30208 1.875 8.08333 1.875C7.11458 1.875 6.20833 2.09375 5.36458 2.5C4.52083 2.9375 3.80208 3.5 3.23958 4.25C2.67708 5 2.27083 5.8125 2.08333 6.6875C2.08333 6.8125 2.02083 6.875 1.95833 6.9375C1.89583 7 1.80208 7 1.73958 7H0.833333C0.708333 7 0.583333 6.96875 0.520833 6.875C0.458333 6.78125 0.427083 6.6875 0.458333 6.5625C0.677083 5.375 1.14583 4.3125 1.89583 3.34375C2.61458 2.40625 3.52083 1.65625 4.58333 1.09375C5.64583 0.53125 6.83333 0.25 8.08333 0.25C9.39583 0.25 10.6458 0.5625 11.7708 1.1875C12.8958 1.8125 13.8333 2.65625 14.5521 3.71875L14.4583 0.625C14.4583 0.53125 14.4896 0.4375 14.5521 0.375C14.6146 0.3125 14.7083 0.25 14.8333 0.25H15.7083ZM15.3333 9C15.4583 9 15.5521 9.0625 15.6146 9.15625C15.6771 9.25 15.7083 9.34375 15.7083 9.4375C15.4583 10.625 14.9896 11.7188 14.2708 12.6562C13.5208 13.625 12.6146 14.375 11.5521 14.9375C10.4896 15.5 9.33333 15.75 8.08333 15.75C6.73958 15.75 5.48958 15.4375 4.36458 14.8125C3.23958 14.1875 2.30208 13.3438 1.61458 12.2812L1.70833 15.375C1.70833 15.5 1.64583 15.5938 1.58333 15.6562C1.52083 15.7188 1.42708 15.75 1.33333 15.75H0.458333C0.333333 15.75 0.239583 15.7188 0.177083 15.6562C0.114583 15.5938 0.083333 15.5 0.083333 15.375V9.375C0.083333 9.28125 0.114583 9.1875 0.177083 9.125C0.239583 9.0625 0.333333 9 0.458333 9H6.45833C6.55208 9 6.64583 9.0625 6.70833 9.125C6.77083 9.1875 6.83333 9.28125 6.83333 9.375V10.25C6.83333 10.375 6.77083 10.4688 6.70833 10.5312C6.64583 10.5938 6.55208 10.625 6.45833 10.625L2.48958 10.5312C2.98958 11.625 3.73958 12.5 4.73958 13.1562C5.73958 13.8125 6.83333 14.125 8.08333 14.125C9.02083 14.125 9.92708 13.9375 10.7708 13.5C11.6146 13.0938 12.3333 12.5312 12.8958 11.7812C13.4583 11.0312 13.8646 10.2188 14.0833 9.3125C14.0833 9.21875 14.1146 9.15625 14.1771 9.09375C14.2396 9.03125 14.3333 9 14.4271 9H15.3333Z" fill="#64686F"/>
                    </svg>
                    <h3 class="uppercase">{{label 'reset'}}</h3>
                </a>
            </div>

            <div class="col-20"></div>

        </div>




    </div>
    <!-- END PAGE CONTENT -->
</div>