<template>
    <!--?a webview or internal component?-->
    <div class="page" data-page="special-content">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="&#239;&#131;&#137;" d="M15.3281 18.5L24.9609 28.1328C25.1016 28.3438 25.1719 28.5547 25.1719 28.7656C25.1719 29.0469 25.1016 29.1875 24.9609 29.3281L24.3281 29.9609C24.1875 30.1016 23.9766 30.1719 23.7656 30.1719C23.4844 30.1719 23.2734 30.1016 23.1328 29.9609L13.5 20.2578L3.86719 29.9609C3.65625 30.1016 3.44531 30.1719 3.23438 30.1719C2.95312 30.1719 2.8125 30.1016 2.67188 29.9609L2.03906 29.3281C1.89844 29.1875 1.82812 29.0469 1.82812 28.7656C1.82812 28.5547 1.89844 28.3438 2.03906 28.1328L11.7422 18.5L2.03906 8.86719C1.89844 8.72656 1.82812 8.51562 1.82812 8.23438C1.82812 8.02344 1.89844 7.8125 2.03906 7.67188L2.67188 7.03906C2.8125 6.89844 2.95312 6.82812 3.23438 6.82812C3.44531 6.82812 3.65625 6.89844 3.86719 7.03906L13.5 16.6719L23.1328 7.03906C23.2734 6.89844 23.4844 6.82812 23.7656 6.82812C23.9766 6.82812 24.1875 6.89844 24.3281 7.03906L24.9609 7.67188C25.1016 7.8125 25.1719 8.02344 25.1719 8.23438C25.1719 8.51562 25.1016 8.72656 24.9609 8.86719L15.3281 18.5Z" transform="translate(-1 -6.08749)" fill="white"/>
                            </svg>
                        <span class="ios-only">Indietro</span>
                    </a>
                </div>
                <h5 class="title uppercase">{{label 'special_content'}}</h5>
            </div>
        </div>


        <div class="page-content">

            <div id="codeCheck">

                <div class="heading-wrapper">

                    <h2 class="display-text lowercase semibold">{{label 'special_auth_display'}}</h2>
                    <div class="item-input-wrap">
                        <form>
                            <svg width="18" height="19" viewBox="0 0 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                                <g id="Canvas" fill="none">
                                <g id="&#239;&#130;&#132;">
                                <path d="M 11.8125 1.375C 10.8984 1.375 10.0547 1.62109 9.28125 2.07812C 8.50781 2.53516 7.875 3.13281 7.41797 3.90625C 6.96094 4.67969 6.75 5.52344 6.75 6.4375C 6.75 7.10547 6.85547 7.73828 7.10156 8.33594L 1.125 14.3125L 1.125 17.125L 4.5 17.125L 4.5 14.875L 6.75 14.875L 6.75 12.625L 8.4375 12.625L 9.91406 11.1484C 10.5117 11.3945 11.1445 11.5 11.8125 11.5C 12.7266 11.5 13.5703 11.2891 14.3438 10.832C 15.1172 10.375 15.7148 9.74219 16.1719 8.96875C 16.6289 8.19531 16.875 7.35156 16.875 6.4375C 16.875 5.52344 16.6289 4.67969 16.1719 3.90625C 15.7148 3.13281 15.1172 2.53516 14.3438 2.07812C 13.5703 1.62109 12.7266 1.375 11.8125 1.375ZM 11.8125 0.25C 12.9375 0.25 13.957 0.53125 14.9062 1.09375C 15.8555 1.65625 16.5938 2.39453 17.1562 3.34375C 17.7188 4.29297 18 5.3125 18 6.4375C 18 7.5625 17.7188 8.61719 17.1562 9.56641C 16.5938 10.5156 15.8555 11.2539 14.9062 11.8164C 13.957 12.3789 12.9375 12.625 11.8125 12.625C 11.25 12.625 10.7227 12.5547 10.2305 12.4141L 9.14062 13.5039C 8.96484 13.6797 8.75391 13.75 8.54297 13.75L 7.875 13.75L 7.875 15.1562C 7.875 15.4023 7.76953 15.6133 7.62891 15.7539C 7.45312 15.9297 7.24219 16 7.03125 16L 5.625 16L 5.625 17.4062C 5.625 17.6523 5.51953 17.8633 5.37891 18.0039C 5.20312 18.1797 4.99219 18.25 4.78125 18.25L 0.84375 18.25C 0.597656 18.25 0.386719 18.1797 0.246094 18.0039C 0.0703125 17.8633 0 17.6523 0 17.4062L 0 14.207C 0 13.9961 0.0703125 13.7852 0.246094 13.6094L 5.83594 8.01953C 5.69531 7.52734 5.625 7 5.625 6.4375C 5.625 5.3125 5.87109 4.29297 6.43359 3.34375C 6.99609 2.39453 7.73438 1.65625 8.68359 1.09375C 9.63281 0.53125 10.6875 0.25 11.8125 0.25ZM 13.5 4.04688C 13.2891 4.04688 13.1484 4.11719 13.0078 4.25781C 12.8672 4.39844 12.7969 4.57422 12.7969 4.75C 12.7969 4.96094 12.8672 5.10156 13.0078 5.24219C 13.1484 5.38281 13.2891 5.45312 13.5 5.45312C 13.6758 5.45312 13.8516 5.38281 13.9922 5.24219C 14.1328 5.10156 14.2031 4.96094 14.2031 4.75C 14.2031 4.57422 14.1328 4.39844 13.9922 4.25781C 13.8516 4.11719 13.6758 4.04688 13.5 4.04688ZM 13.5 3.0625C 13.957 3.0625 14.3438 3.23828 14.6953 3.55469C 15.0117 3.90625 15.1875 4.29297 15.1875 4.75C 15.1875 5.24219 15.0117 5.62891 14.6953 5.94531C 14.3438 6.29688 13.957 6.4375 13.5 6.4375C 13.0078 6.4375 12.6211 6.29688 12.3047 5.94531C 11.9531 5.62891 11.8125 5.24219 11.8125 4.75C 11.8125 4.29297 11.9531 3.90625 12.3047 3.55469C 12.6211 3.23828 13.0078 3.0625 13.5 3.0625Z" fill="white"/>
                                </g>
                                </g>
                            </svg>
                            <input id="pwdInput" type="password" placeholder="{{label 'special_pwd_input'}}">
                            <span class="input-clear-button"></span>
                        </form>
                    </div>
                    <button type="button" id="btnAuthorize" class="special-gallery-submit-btn button button-fill color-yellow margin-top">{{label 'special_login_button'}}</button>
                    <div class="display-error col-100 emptyMessage">{{label 'special_empty_message'}}</div>
                    <div class="display-error col-100 errorMessage">{{label 'special_error_message'}}</div>
                    <br>
                </div>

            </div>

            <div id="specialContent">

                <div class="row">
                    <h4 id="imageCaption" class="col-100"><span>placeholder</span></h4>
                    <h6 class="col-100"></h6>
                    <div class="col-100">
                        <div id="specialSwiper" class="swiper-container swiper-init">
                            <div class="swiper-wrapper">
                            </div>
                        </div>
                    </div>
                    <div class="col-100 bottom-toolbar">

                        <div>
                            <button class="button button-big button-fill myButton chevronLeft" @click="prevSlide()">
                                <img class="svg svgWhite" src="resources/images/ui/chevron-left_white.svg">
                            </button>
                            <button class="button button-big button-fill myButton chevronRight" @click="nextSlide()">
                                <img class="svg svgWhite" src="resources/images/ui/chevron-right_white.svg">
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>

    let methods = {
        methods: {
            prevSlide()
            {
                app.swiper.get('#specialSwiper.swiper-container').slidePrev()
                this.setCaption();
            },
            nextSlide()
            {
                app.swiper.get('#specialSwiper.swiper-container').slideNext();
                this.setCaption();
            },
            setSlides(slides)
            {
                let swiper = app.swiper.get('#specialSwiper.swiper-container');
                for(i in slides)
                swiper.appendSlide('<img style="object-fit: contain;object-position: center;" data-caption=\"'+slides[i]['caption']['title']+'\" srcset=\"'+slides[i]['url']+'\" class=\"swiper-slide\">');
            },
            setCaption(loaded)
            {
                //if(loaded)
                let swiper = app.swiper.get('#specialSwiper.swiper-container');
                $$('#imageCaption').css('opacity','0');
                //if(loaded)
                setTimeout(function()
                {
                    $$('#imageCaption').text(window.specials.open.getSlides()[swiper.activeIndex]['caption']['title']);
                    $$('#imageCaption').css('opacity','1');
                }, 130);
            },
            fitSliderContainer(){
                let sliderContainerHeight = parseInt(this.$el.find('.page-content').height()) - 66 - 85;
                this.$el.find('#specialSwiper').css('height',sliderContainerHeight+'px');
            }
        }
    }

    let on = {
        on: {
            pageMounted: function (e, page) {
                //console.log('%c[TestComponent] pageMounted', page);
            },
            pageInit: function (e, page) {
                //console.log('%c[TestComponent] pageInit', page);
            },
            pageBeforeIn: function (e, page) {
                //console.log('%c[TestComponent] pageBeforeIn', page);
                let swiper = app.swiper.get('#specialSwiper.swiper-container');
                //swiper.params.preloadImages = true;
                //swiper.params.loop = true;
                $$('#specialContent button.myButton.chevronLeft').addClass('disabled');
                if(window.specials.open.getSlides().length==1){
                    $$('#specialContent button.myButton.chevronRight').addClass('disabled');
                }
                //
                this.fitSliderContainer();
                window.tmpResizeEvent = window.addEventListener("resize", function () {
                    $$('.page[data-page="special-content"]')[0].f7Component.fitSliderContainer();
                });                
                //
                //check if already unlocked
                let check = window.specials.open.set(window.specials.current.id);
                if(check)
                {
                    $$("#codeCheck").hide();
                    $$("#specialContent").show();
                    //?need to set the   loading or is default behavior?
                    mainView.router.currentPageEl.f7Component.setSlides(window.specials.open.getSlides());
                    mainView.router.currentPageEl.f7Component.setCaption(false);
                }
                else
                {
                    //UI
                    $$("#codeCheck > div > div > form").on('click',function(){
                        $$("#pwdInput").focus();
                    });
                    $$("#codeCheck span.input-clear-button").on('click',function(){
                        $$("#codeCheck > div > div.display-error").hide();
                    });
                    $$("#pwdInput").keydown(function (e){
                        if(e.keyCode==13){
                            e.stopImmediatePropagation();
                            e.stopPropagation();
                            e.preventDefault();
                        }
                    })
                    //ACTIONS
                    $$("#btnAuthorize").on('click',function(){
                        specialAuth($$("#pwdInput").val(),true);
                    });
                    $$("#pwdInput").keyup(function()
                    {
                        if(e.keyCode==13){
                            e.stopImmediatePropagation();
                            e.stopPropagation();
                            e.preventDefault();
                        }
                        specialAuth(this.value,false);
                    });
                    //
                    function specialAuth(value,button)
                    {
                        //
                        console.log(value);
                        //
                        $$("#codeCheck > div > div.display-error").hide();
                        //
                        //if(value<1)return;
                        //
                        //
                        let res = window.specials.open.authorize(window.specials.current.id,value);
                        //
                        if(res) {
                            console.log('authorized');

                            /*

                            <plugin name="cordova-plugin-keyboard" source="npm" spec="1.2.0" />

                            if(Device.cordova && Keyboard) {
                                alert("hide keyboard");
                                Keyboard.hide();
                                //app.statusbar.overlaysWebView(false);
                            }
                            */

                            $$("#codeCheck").hide();
                            $$("#specialContent").show();
                            mainView.router.currentPageEl.f7Component.setSlides(window.specials.open.getSlides());
                            mainView.router.currentPageEl.f7Component.setCaption();
                        } else {
                            //continue only for button input, else return
                            //
                            if(!button)return;
                            //
                            if($$("#pwdInput").val().length < 1){
                                //
                                $$("#codeCheck > div > div.display-error.emptyMessage").show();
                                $$("#pwdInput").focus();
                                //
                            } else {
                                //
                                console.log('unauthorized');
                                $$("#codeCheck > div > div.display-error.errorMessage").show();
                                $$("#pwdInput").focus();
                                //
                            }
                        }
                    }
                }
                swiper.on('slideChange', function () {
                    mainView.router.currentPageEl.f7Component.setCaption();
                    let cnt = window.specials.open.getSlides().length - 1;
                    console.log(this.activeIndex);

                    if(this.activeIndex==0){
                        console.log('beginning')
                        $$('#specialContent button.myButton.chevronLeft').addClass('disabled');

                    }
                    if(this.activeIndex>0){
                        console.log('sliding')
                        $$('#specialContent button.myButton.chevronLeft').removeClass('disabled');
                        $$('#specialContent button.myButton.chevronRight').removeClass('disabled');
                    }
                    if(this.activeIndex==cnt){
                        console.log('end')
                        $$('#specialContent button.myButton.chevronRight').addClass('disabled');
                    }
                });
            },
            pageAfterIn: function (e, page) {
                //console.log('%c[TestComponent] pageAfterIn', page);
            },
            pageBeforeOut: function (e, page) {
                //console.log('%c[TestComponent] pageBeforeOut', page);
                window.tmpResizeEvent = null;
            },
            pageAfterOut: function (e, page) {
                //console.log('%c[TestComponent] pageAfterOut', page);
            },
            pageBeforeRemove: function (e, page) {
                //console.log('%c[TestComponent] pageBeforeRemove', page);
                let swiper = app.swiper.get('#specialSwiper.swiper-container');
                swiper.off('slideChange');

            },
        }
    }

    return Object.assign({}, methods, on);
</script>
