<template>
    <div class="page" data-page="home">
        <!-- Scrollable page content -->
        <div class="page-content" style="background:#024C74;">
            <div class="row">

                <h1 class="col-100"></h1>
                <h1 class="col-100" style="color:white;text-align: center;">{{title}}</h1>
                <h2 class="col-100" style="color:white;text-align: center;">{{subTitle}}</h2>
                <div class="col-10"></div>
                <p class="col-80" style="color:white;text-align: center;">{{message}}</p>
                <div class="col-10"></div>
                <h4 class="col-100" style="color:white;text-align: center;margin-top:0;">{{greetings}}</h4>


            </div>

            <div class="row" style="margin-top:35px;">
                <div class="col-10"></div>
                <button @click="restartApp()" class="col-80 button button-fill" style="background:#ffce4d;color:#212121;font-weight:bold;cursor: pointer;">{{retry}}</button>
                <div class="col-10"></div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-10"></div>
                <button @click="closeApp()" class="col-80 button button-fill" style="background:#01324c;color:white;cursor: pointer;">{{exit}}</button>
                <div class="col-10"></div>
            </div>

        </div>
    </div>
</template>
<script>
    window.failMessages_IT = {
        title:"Palazzo Strozzi",
        subTitle:"Errore di connessione",
        message:"Le risorse online sembrano essere irraggiungibili in questo momento, controlla la tua connessione a internet o riprova in seguito.",
        greetings:"Grazie",
        retry:"Riprova",
        exit:"Esci"
    };
    window.failMessages_EN = {
        title:"Palazzo Strozzi",
        subTitle:"Connection Error",
        message:"The online resources seems to be unreachable at the present moment, please check your internet connection or retry later.",
        greetings:"Thank you",
        retry:"Retry",
        exit:"Exit"
    }
    return {
        on: {
            pageBeforeOut: function(e, page) {
                location.reload();
            },
            pageAfterOut: function(e, page) {
                location.reload();
            }
        },
        methods: {
            restartApp(){
                console.log('restart app');
                location.reload();
            },
            //not used
            closeApp(){
                console.log('close app');
                navigator.app.exitApp();
            }
        },
        data:function(){
            if(getLS("app_language")=='it')
                return window.failMessages_IT;
            else return window.failMessages_EN;
        }
    }


</script>
