<div class="page" data-page="home">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left padding-left">
        <a id="hamburger-btn" href="#" data-popup=".menu-popup" class="popup-open">
                    <!-- <svg width="32" height="38" viewBox="0 0 32 38" version="1.1" xmlns="http://www.w3.org/2000/svg" > -->
                    <svg width="32" height="38" viewBox="0 0 32 38" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <g id="Canvas" fill="none">
                            <g id="burger menu">
                                <g id="&#239;&#131;&#137;">
                                    <path d="M 31.0781 8.51562C 31.1484 8.51562 31.2188 8.51562 31.3594 8.375C 31.4297 8.30469 31.5 8.23438 31.5 8.09375L 31.5 6.40625C 31.5 6.33594 31.4297 6.26562 31.3594 6.125C 31.2188 6.05469 31.1484 5.98438 31.0781 5.98438L 0.421875 5.98438C 0.28125 5.98438 0.210938 6.05469 0.140625 6.125C 0 6.26562 0 6.33594 0 6.40625L 0 8.09375C 0 8.23438 0 8.30469 0.140625 8.375C 0.210938 8.51562 0.28125 8.51562 0.421875 8.51562L 31.0781 8.51562ZM 31.0781 19.7656C 31.1484 19.7656 31.2188 19.7656 31.3594 19.625C 31.4297 19.5547 31.5 19.4844 31.5 19.3438L 31.5 17.6562C 31.5 17.5859 31.4297 17.5156 31.3594 17.375C 31.2188 17.3047 31.1484 17.2344 31.0781 17.2344L 0.421875 17.2344C 0.28125 17.2344 0.210938 17.3047 0.140625 17.375C 0 17.5156 0 17.5859 0 17.6562L 0 19.3438C 0 19.4844 0 19.5547 0.140625 19.625C 0.210938 19.7656 0.28125 19.7656 0.421875 19.7656L 31.0781 19.7656ZM 31.0781 31.0156C 31.1484 31.0156 31.2188 31.0156 31.3594 30.875C 31.4297 30.8047 31.5 30.7344 31.5 30.5938L 31.5 28.9062C 31.5 28.8359 31.4297 28.7656 31.3594 28.625C 31.2188 28.5547 31.1484 28.4844 31.0781 28.4844L 0.421875 28.4844C 0.28125 28.4844 0.210938 28.5547 0.140625 28.625C 0 28.7656 0 28.8359 0 28.9062L 0 30.5938C 0 30.7344 0 30.8047 0.140625 30.875C 0.210938 31.0156 0.28125 31.0156 0.421875 31.0156L 31.0781 31.0156Z"
                                        transform="translate(0 0.912506)" fill="white" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
      </div>
      <h5 class="title uppercase">Home</h5>
    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

    <!-- CURRENT SHOWS BLOCK -->
    {{#if currentShows}}
    <div class="row">
      <h2 class="col-100 padding-left padding-right homeWallTitle current-shows lowercase">{{#if currentShow_multiple}}{{ label 'current_shows' }}{{else}}{{ label 'current_shows_single' }}{{/if}}</h2>

      <!--Template current show cards-->
      {{#each currentShows}}
      <div class="col-100 tablet-50 desktop-33 padding-left padding-right bigCardsCol">
        <a href="/current-shows/{{@index}}" class="card home-big-card" style="background-image:url({{img}})">
          <div class="home-big-card__contents">
            <div class="card-content card-content-padding">
              <h1 class="lowercase">{{trim title 40}}</h1>
              <h4 class="lowercase">{{trim subtitle 60}}</h4>
            </div>

            <div class="card-footer">
              <p class="col-100 text-trim_singleLine text-small semibold">{{ label 'card_from' }}: {{date.from}} {{ label 'card_to' }}: {{date.to}}
                <br> {{#if credit}}{{ label 'card_credits' }}: <span class="big-card-variant">{{credit}}</span>{{/if}}</p>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    {{/if}}
    <!-- CURRENT SHOWS BLOCK -->

    <!-- NEXT SHOWS BLOCK -->
    {{#if nextShows}}
    <div class="row">
      <h2 class="col-100 padding-left padding-right homeWallTitle lowercase">{{#if nextShows_multiple}}{{ label 'next_shows' }}{{else}}{{ label 'next_shows_single' }}{{/if}}</h2>

      <div class="col-100">
        <div class="carousel next-shows">
          <!--Template next show cards-->
          {{#each nextShows}}
          <a href="/next-show/{{@index}}" class="card carousel-cell">
            <picture class="card-img">
              <img class="lazy" src="{{img}}" />
            </picture>

            <div class="card-content card-content-padding">
              <h3 class="small-card-title lowercase">{{trim title 95}}</h3>
            </div>

            <div class="card-footer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="#FFCE4D" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/>
              </svg>
              <p class="text-trim_multiLine text-small semibold small-card-pragraph">
                {{ label 'card_from' }}: {{date.from}} {{ label 'card_to' }}: {{date.to}}{{#if credit}} | {{ label 'card_credits' }}: {{trim credit 60}}{{/if}}</p>
            </div>
          </a>
          {{/each}}
        </div>
      </div>
    </div>
    {{/if}}
    <!-- /NEXT SHOWS BLOCK -->


    <!-- NEXT EVENTS BLOCK -->
    {{#if nextEvents}}
    <div class="row">
      <h2 class="col-100 padding-left padding-right homeWallTitle lowercase">{{#if nextEvents_multiple}}{{ label 'next_events' }}{{else}}{{ label 'next_events_single' }}{{/if}}</h2>

      <div class="col-100">
        <div class="carousel next-events">
          <!--Template next events cards-->
          {{#each nextEvents}}
          <a href="/next-event/{{@index}}" class="card carousel-cell">
            <picture class="card-img">
              <img class="lazy" src="{{img}}" />
            </picture>

            <div class="card-content card-content-padding">
              <h3 class="small-card-title lowercase">{{trim title 95}}</h3>
            </div>

            <div class="card-footer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="#FFCE4D" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/>
              </svg>
              <p class="text-trim_multiLine text-small semibold small-card-pragraph">
                {{ label 'card_from' }}: {{date.from}} {{ label 'card_to' }}: {{date.to}}{{#if credit}} | {{ label 'card_credits' }}: {{credit}}{{/if}}</p>
            </div>
          </a>
          {{/each}}

        </div>

      </div>
    </div>
    {{/if}}
    <!-- /NEXT EVENTS BLOCK -->

    <h2 class="col-100 padding-left padding-right homeWallTitle lowercase">{{ label 'info_on_home' }}</h2>

    <div id="home-page__info-block" class="block">

      <div class="row">

        <div class="list links-list col-100">
          <ul>
            <li>
              <a class="text-large semibold" href="/info/opening-hours/">{{ label 'opening_hours' }}</a>
            </li>

            <li>
              <a class="text-large semibold" href="/info/find/">{{ label 'find' }}</a>
            </li>

            <li>
              <a class="text-large semibold" href="/info/faq/">{{ label 'faq' }}</a>
            </li>

            <li>
              <a class="text-large semibold" href="/info/history/">{{ label 'history' }}</a>
            </li>

            <li>
              <a class="text-large semibold" href="/info/foundation/">{{ label 'foundation' }}</a>
            </li>

            <li>
              <a class="text-large semibold" href="/info/visits/">{{ label 'visit' }}</a>
            </li>

            <li>
              <a class="link external text-large semibold" href="{{ label 'tickets_link' }}" target="_system">{{ label 'tickets' }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
