<template>

    <div class="page" data-page="postcard-temp">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="ios-only">Back</span>
                    </a>
                </div>
                <div class="title">Component Page</div>
            </div>
        </div>
        <div class="page-content">

            <!--Template 7 try-->
            <script type="text/template7" id="tst">
                    Ciao {{firstname}}
            </script>


            <div id="drawer-container">
                <canvas id="demoCanvas"></canvas>
            </div>
            <div class="block block-strong">
                <a href="#" class="button button-raised" @click="openAlert">Open Alert</a>
            </div>
            <div class="block block-strong">
                <p>Hello! My name is {{name}}. I am {{age}} years old.</p>
                <p>I like to play:</p>
                <ul>
                    {{#each like}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="block block-strong">
                <p>Component page context as Template7 page context is also extended with some additional variables.</p>
                <h4>$route</h4>
                <p>Contains properties of the current route:</p>
                <ul style="padding-left:25px">
                    <li>
                        <b>$route.url</b>: {{$route.url}}</li>
                    <li>
                        <b>$route.path</b>: {{$route.path}}</li>
                    <li>
                        <b>$route.params</b>: {{js 'return JSON.stringify(this.$route.params)'}}</li>
                    <li>
                        <b>$route.hash</b>: {{$route.hash}}</li>
                    <li>
                        <b>$route.query</b>: {{js 'return JSON.stringify(this.$route.query)'}}</li>
                </ul>

                <h4>$root</h4>
                <p>Ro ot data & methods:</p>
                <ul style="padding-left:25px">
                    <li>
                        <b>$root.user.firstName</b>: {{$root.user.firstName}}</li>
                    <li>
                        <b>$root.user.lastName</b>: {{$root.user.lastName}}</li>
                    <li>
                        <a @click="$root.helloWorld()">$root.helloWorld()</a>
                    </li>
                </ul>

                <h4>$theme</h4>
                <p>Currently active theme:</p>
                <ul style="padding-left:25px">
                    <li>
                        <b>$theme.ios</b>: {{$theme.ios}}</li>
                    <li>
                        <b>$theme.md</b>: {{$theme.md}}</li>
                </ul>
            </div>
        </div>
    </div>

</template>

<style>
    #drawer-container {
        position: relative;
        top: 100px;
        height: calc(100vh - 100px);
        width: 100vw;
        overflow: hidden;
        border: 2px solid yellow;
    }

    canvas {
        width: "100%";
        height: "100%";
    }
</style>

<script>

    //export var as html => import var || $$('').html() 
    //template: var

    let lchooks = {
        //Lifecycle Hooks
        beforeCreate() {
            console.log('%c[TestComponent] componentBeforeCreate', 'color: green;', this)
        },
        created() {
            console.log('%c[TestComponent] componentCreated', 'color: green;', this)
        },
        beforeMount() {
            console.log('%c[TestComponent] componentBeforeMount', 'color: green;', this)
        },
        mounted() {
            console.log('%c[TestComponent] componentMounted', 'color: green;', this);
        },
        beforeDestroy() {
            console.log('%c[TestComponent] componentBeforeDestroy', 'color: green;', this);
        },
        destroyed() {
            console.log('%c[TestComponent] componentDestroyed', 'color: green;', this);
        },
    }

    let componentData = {
        // Component Data
        data: function () {
            // Must return an object
            return {
                name: 'Jimmy',
                age: 25,
                like: ['Tennis', 'Chess', 'Football'],
            }
        },
    }

    let methods = {
        methods: {
            openAlert: function () {
                var self = this;
                self.$app.dialog.alert('Hello World');
            },

            initDrawer: function () {

                let $container = this.$el.find("#drawer-container");

                var canvas, stage;
                var drawingCanvas;
                var oldPt;
                var oldMidPt;
                var title;
                var color;
                var stroke;
                var colors;
                var index;

                canvas = $container.find("canvas")[0];
                index = 0;
                colors = ["#828b20", "#b0ac31", "#cbc53d", "#fad779", "#f9e4ad", "#faf2db", "#563512", "#9b4a0b", "#d36600", "#fe8a00", "#f9a71f"];

                //check to see if we are running in a browser with touch support
                stage = new createjs.Stage(canvas);
                stage.autoClear = false;
                stage.enableDOMEvents(true);

                stage.canvas.width = $container.width();
                stage.canvas.height = $container.height();

                createjs.Touch.enable(stage);
                createjs.Ticker.framerate = 24;

                drawingCanvas = new createjs.Shape();

                stage.addEventListener("stagemousedown", handleMouseDown);
                stage.addEventListener("stagemouseup", handleMouseUp);

                var img = new Image();
                img.src = "resources/red_horizontal_abstract.jpg";

                title = new createjs.Text(
                    "Click and Drag to draw",
                    "16px Arial",
                    "#333333"
                );

                title.x = 20;
                title.y = 20;
                stage.addChild(title);

                stage.addChild(drawingCanvas);
                stage.update();

                function handleMouseDown(event) {

                    if (!event.primary) {
                        return;
                    }

                    if (stage.contains(title)) {
                        stage.clear();
                        stage.removeChild(title);
                    }

                    color = colors[(index++) % colors.length];
                    stroke = Math.random() * 30 + 10 | 0;
                    oldPt = new createjs.Point(stage.mouseX, stage.mouseY);
                    oldMidPt = oldPt.clone();
                    stage.addEventListener("stagemousemove", handleMouseMove);
                }

                function handleMouseMove(event) {

                    if (!event.primary) {
                        return;
                    }
                    var midPt = new createjs.Point(oldPt.x + stage.mouseX >> 1, oldPt.y + stage.mouseY >> 1);

                    let gpx = drawingCanvas.graphics;

                    gpx.clear();
                    gpx.setStrokeStyle(stroke, 'round', 'round');

                    gpx.beginStroke(color);

                    gpx.moveTo(midPt.x, midPt.y);
                    gpx.curveTo(oldPt.x, oldPt.y, oldMidPt.x, oldMidPt.y);

                    oldPt.x = stage.mouseX;
                    oldPt.y = stage.mouseY;

                    oldMidPt.x = midPt.x;
                    oldMidPt.y = midPt.y;

                    stage.update();
                }

                function handleMouseUp(event) {
                    if (!event.primary) {
                        return;
                    }
                    stage.removeEventListener("stagemousemove", handleMouseMove);
                }
            }

        }
    }

    let on = {
        // Page Events
        on: {
            pageMounted: function (e, page) {
                console.log('%c[TestComponent] pageMounted', page);
            },
            pageInit: function (e, page) {
                console.log('%c[TestComponent] pageInit', page);
                this.initDrawer();
            },
            pageBeforeIn: function (e, page) {
                console.log('%c[TestComponent] pageBeforeIn', page);
            },
            pageAfterIn: function (e, page) {
                console.log('%c[TestComponent] pageAfterIn', page);
            },
            pageBeforeOut: function (e, page) {
                console.log('%c[TestComponent] pageBeforeOut', page);
            },
            pageAfterOut: function (e, page) {
                console.log('%c[TestComponent] pageAfterOut', page);
            },
            pageBeforeRemove: function (e, page) {
                console.log('%c[TestComponent] pageBeforeRemove', page);
            },
        }
    }

    let tdata = {
        template7Data: {
            about: {
                firstname: 'William ',
                lastname: 'Root',
                age: 27,
                position: 'Developer',
                company: 'TechShell',
            }
        }
    };

    return Object.assign({}, lchooks, tdata, componentData, methods, on );

</script>