<template>
    <div class="page webview-page" data-name="current-show">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <svg width="12" height="19" viewBox="0 0 12 19" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                            <g id="Canvas" fill="none">
                                <g id="&#239;&#131;&#137;">
                                    <path d="M 1.75781 17.8672C 1.61719 18.0781 1.54688 18.2891 1.54688 18.5C 1.54688 18.7812 1.61719 18.9219 1.75781 19.0625L 10.0547 27.2188C 10.1953 27.4297 10.3359 27.5 10.6172 27.5C 10.8281 27.5 11.0391 27.4297 11.25 27.2188L 11.7422 26.7266C 11.8828 26.5859 11.9531 26.4453 11.9531 26.1641C 11.9531 25.9531 11.8828 25.7422 11.7422 25.5312L 4.57031 18.5L 11.7422 11.4688C 11.8828 11.3281 12.0234 11.1172 12.0234 10.8359C 12.0234 10.625 11.8828 10.4141 11.7422 10.2734L 11.25 9.71094C 11.0391 9.57031 10.8281 9.5 10.6172 9.5C 10.3359 9.5 10.1953 9.57031 10.0547 9.71094L 1.75781 17.8672Z"
                                        transform="translate(-1 -9.08749)" fill="white" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <h5 class="title uppercase">{{#if pluralTitle}}{{label 'current_shows'}}{{else}}{{label 'current_shows_single'}}{{/if}}</h5>
            </div>
        </div>

        <div class="toolbar toolbar-bottom-md">
            <div class="toolbar-inner">


                <a class="link specialContents both" href="{{$route.path}}/special-content/">
                    <div class="icon-wrapper">
                        <svg width="28" height="22" viewBox="0 0 28 22" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                            <g fill="none">
                                <g>
                                    <path transform="translate(0.725342 -1)" fill="#024C74" d="M 24.75 1.5C 25.3594 1.5 25.875 1.73438 26.3438 2.15625C 26.7656 2.625 27 3.14062 27 3.75L 27 17.25C 27 17.9062 26.7656 18.4219 26.3438 18.8438C 25.875 19.3125 25.3594 19.5 24.75 19.5L 24 19.5L 24 20.25C 24 20.9062 23.7656 21.4219 23.3438 21.8438C 22.875 22.3125 22.3594 22.5 21.75 22.5L 2.25 22.5C 1.59375 22.5 1.07812 22.3125 0.65625 21.8438C 0.1875 21.4219 0 20.9062 0 20.25L 0 6.75C 0 6.14062 0.1875 5.625 0.65625 5.15625C 1.07812 4.73438 1.59375 4.5 2.25 4.5L 3 4.5L 3 3.75C 3 3.14062 3.1875 2.625 3.65625 2.15625C 4.07812 1.73438 4.59375 1.5 5.25 1.5L 24.75 1.5ZM 22.5 20.25L 22.5 19.5L 5.25 19.5C 4.59375 19.5 4.07812 19.3125 3.65625 18.8438C 3.1875 18.4219 3 17.9062 3 17.25L 3 6L 2.25 6C 2.01562 6 1.82812 6.09375 1.6875 6.23438C 1.54688 6.375 1.5 6.5625 1.5 6.75L 1.5 20.25C 1.5 20.4844 1.54688 20.6719 1.6875 20.8125C 1.82812 20.9531 2.01562 21 2.25 21L 21.75 21C 21.9375 21 22.125 20.9531 22.2656 20.8125C 22.4062 20.6719 22.5 20.4844 22.5 20.25ZM 25.5 17.25L 25.5 3.75C 25.5 3.5625 25.4062 3.375 25.2656 3.23438C 25.125 3.09375 24.9375 3 24.75 3L 5.25 3C 5.01562 3 4.82812 3.09375 4.6875 3.23438C 4.54688 3.375 4.5 3.5625 4.5 3.75L 4.5 17.25C 4.5 17.4844 4.54688 17.6719 4.6875 17.8125C 4.82812 17.9531 5.01562 18 5.25 18L 24.75 18C 24.9375 18 25.125 17.9531 25.2656 17.8125C 25.4062 17.6719 25.5 17.4844 25.5 17.25ZM 8.25 9.375C 7.5 9.375 6.89062 9.14062 6.375 8.625C 5.85938 8.10938 5.625 7.5 5.625 6.75C 5.625 6.04688 5.85938 5.4375 6.375 4.92188C 6.89062 4.40625 7.5 4.125 8.25 4.125C 8.95312 4.125 9.5625 4.40625 10.0781 4.92188C 10.5938 5.4375 10.875 6.04688 10.875 6.75C 10.875 7.5 10.5938 8.10938 10.0781 8.625C 9.5625 9.14062 8.95312 9.375 8.25 9.375ZM 8.25 5.625C 7.92188 5.625 7.64062 5.76562 7.45312 5.95312C 7.21875 6.1875 7.125 6.46875 7.125 6.75C 7.125 7.07812 7.21875 7.35938 7.45312 7.54688C 7.64062 7.78125 7.92188 7.875 8.25 7.875C 8.53125 7.875 8.8125 7.78125 9.04688 7.54688C 9.23438 7.35938 9.375 7.07812 9.375 6.75C 9.375 6.46875 9.23438 6.1875 9.04688 5.95312C 8.8125 5.76562 8.53125 5.625 8.25 5.625ZM 19.5469 6.70312L 23.6719 10.8281C 23.8594 11.0625 24 11.3438 24 11.625L 24 15.9375C 24 16.125 23.9062 16.2656 23.8125 16.3594C 23.7188 16.4531 23.5781 16.5 23.4375 16.5L 6.5625 16.5C 6.375 16.5 6.23438 16.4531 6.14062 16.3594C 6.04688 16.2656 6 16.125 6 15.9375L 6 14.625C 6 14.3438 6.09375 14.0625 6.32812 13.8281L 10.4531 9.70312C 10.6406 9.51562 10.9219 9.375 11.25 9.375C 11.5312 9.375 11.8125 9.51562 12.0469 9.70312L 13.5 11.1562L 17.9531 6.70312C 18.1406 6.51562 18.4219 6.375 18.75 6.375C 19.0312 6.375 19.3125 6.51562 19.5469 6.70312ZM 22.5 15L 22.5 11.7656L 18.75 8.01562L 13.5 13.2656L 11.25 11.0156L 7.5 14.7656L 7.5 15L 22.5 15Z"
                                    />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h5 class="uppercase">{{label 'special_contents'}}</h5>
                </a>

                <!-- Temporary -->
                <a class="link postcardComposer both" data-href="{{$route.path}}/postcard-composer/" @click="goPostcardComposer()">
                    <div class="icon-wrapper">
                        <svg width="25" height="25" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                            <g fill="none">
                                <g>
                                    <path transform="translate(0.725342 0)" fill="#024C74" d="M 21.75 0.1875C 22.0781 0 22.4531 -0.046875 22.8281 0.046875C 23.2031 0.140625 23.4844 0.375 23.7188 0.65625C 23.9531 0.984375 24.0469 1.35938 24 1.73438L 21 21.2812C 20.9062 21.75 20.625 22.125 20.2031 22.3594C 19.7812 22.6406 19.3594 22.6406 18.9375 22.4531L 12.9844 19.9688L 10.1719 23.4375C 9.89062 23.8125 9.51562 24 9.09375 24C 8.625 24.0469 8.25 23.9062 7.96875 23.625C 7.64062 23.3438 7.5 22.9688 7.5 22.5L 7.5 17.7188L 0.9375 15C 0.5625 14.8594 0.28125 14.625 0.140625 14.25C -0.046875 13.9219 -0.046875 13.5469 0.046875 13.1719C 0.140625 12.7969 0.375 12.5156 0.75 12.3281L 21.75 0.1875ZM 9 22.5L 11.5781 19.4062L 9 18.3281L 9 22.5ZM 19.5 21.0469L 22.5 1.5L 1.5 13.5938L 6.84375 15.7969L 18.7969 5.625C 18.8906 5.53125 19.0312 5.53125 19.1719 5.625C 19.2656 5.76562 19.2656 5.90625 19.1719 6L 9.84375 17.0625L 19.5 21.0469Z"
                                    />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h5 class="uppercase">{{label 'create_postcard'}}</h5>
                </a>

            </div>
        </div>

        <div class="page-content">
            <div class="webview-frame-wrapper">
              <iframe class="webview-frame" sandbox="allow-scripts allow-forms" src="{{webviewUrl}}"></iframe>
            </div>
        </div>
    </div>
</template>
<script>
    return {

        methods: {
            goPostcardComposer() {
                $$('body').css('opacity', '0');
                let href = this.$el.find('a.link.postcardComposer')[0].dataset.href;

                if (Framework7.device.phonegap) {
                  console.log('>> from mobile')
                  window.handleNavigate = function (e) {
                      setTimeout(() => {
                          mainView.router.navigate(href);
                      }, 200);
                  }
                  screen.orientation.addEventListener('change', handleNavigate);
                  window.screen.orientation.lock('landscape');
                } else {
                  setTimeout(() => {
                      mainView.router.navigate(href);
                  }, 200);
                }
            }
        },

        on: {
            pageMounted: function (e, page) {
            },
            pageInit: function (e, page) {
                //keep pages in memory (prevent reloading webview when navigating back from postcard composer and share)
                //
                mainView.router.params.stackPages = true;
                //
                app.preloader.show();
                //let url = "";
                //this.webviewUrl = "";
                this.webviewUrl = window.appData.content.current_shows.list[mainView.router.currentRoute.params.showId].webview;
                this.startingUrl = this.webviewUrl;
                //
                let frame = this.$el.find('iframe.webview-frame');
                //
                frame[0].src = this.webviewUrl;
                console.log(this.startingUrl);
                //
                frame.on('load', function () {
                    //if (this.src.includes('palazzostrozzi.org')) console.log('insite');
                    app.preloader.hide();
                    //$$("div.toolbar.toolbar-bottom-md").addClass('slideUp');
                })
                //
                //
                //
                //->prepare data for next actions (bottom toolbar actions: special gallery and postcard composer)
                //
                let rawId = mainView.router.currentRoute.params.showId;
                let showObj = window.appData.content.current_shows.list[rawId];
                let fullId = showObj.id;
                let specialContentsEnabled = true;
                let postcardComposerEnabled = true;
                //
                //
                //caso 1: galleria speciale no immagini
                //
                //special content
                if (
                    showObj.special_gallery.length==0 ||
                    showObj.special_gallery == "" || showObj.special_gallery == " " ||
                    showObj.special_gallery.unlock_code == "" || showObj.special_gallery.unlock_code == " "  ||
                    showObj.special_gallery.list == "" || showObj.special_gallery.list == " " || showObj.special_gallery.list.length == 0
                    ) specialContentsEnabled = false;
                else{
                    window.specials.current.id = fullId;
                    this.$el.find('iframe.webview-frame').attr('has-toolbar',true);
                }
                //
                //
                //caso 2: postcard composer no cartoline
                //
                //postcard composer
                if (showObj.postcards.length == 0 || showObj.postcards=="" || showObj.postcards==" " )postcardComposerEnabled = false;
                else {
                    this.$el.find('iframe.webview-frame').attr('has-toolbar',true);
                    window.postcard.current.name = showObj.title;
                    window.postcard.current.cardUrls = [];
                    let postcardObj = showObj.postcards;
                    for (let i in postcardObj) window.postcard.current.cardUrls.push(postcardObj[i].url);
                }
                //
                //
                //caso 3: nessuna
                //
                if (!specialContentsEnabled && !postcardComposerEnabled) {
                    this.$el.find(".toolbar.toolbar-bottom-md").remove();
                    return;
                }
                if (!specialContentsEnabled) {
                    this.$el.find(".specialContents")[0].remove();
                    this.$el.find(".link").removeClass('both');
                }
                if (!postcardComposerEnabled) {
                    this.$el.find(".postcardComposer")[0].remove();
                    this.$el.find(".link").removeClass('both');
                }
                //
                //
                //
            },
            pageBeforeIn: function (e, page) {
                app.sheet.close('.postcards-list');
                //
                //Back from postcard composer
                if (mainView.router.previousRoute.name == "Postcard Composer") {
                    //mainView.router.params.animate = false;
                    console.log('backfromdrawer');
                    if(Framework7.device.phonegap) window.screen.orientation.lock('portrait');
                }
                //
                //If back from check
                if (mainView.router.previousRoute.name == "Connection Check") {
                    console.log('IS BACK FROM CHECK');
                    let frame = $$('iframe.webview-frame');
                    frame[0].src = "";
                    app.preloader.show();
                    frame[0].src = this.startingUrl;
                    frame.on('load', function () {
                        if (this.src.includes('palazzostrozzi.org')) console.log('insite');
                        app.preloader.hide();
                        //$$(this).off('load');
                    })
                }
                //
            },
            pageBeforeRemove: function () {
                //mainView.router.off('routeChange');
                let frame = $$('iframe.webview-frame');
                frame.off('load');
            }
        },
        data: function () {
            return {
                "pluralTitle":function(){
                    if(window.appData.content.current_shows.list.length>1)return true;
                    else return false;
                },
                "startingUrl": "",
                "webviewUrl": "",
            }
        }
    }
</script>
