<template>
    <div class="page webview-page" data-name="list">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="ios-only">Indietro</span>
                    </a>
                </div>
                <!--?add the framework7 "auto" navigation component?-->
                <h5 class="title uppercase">{{label 'next_shows'}}</h5>
            </div>
        </div>

        <div class="page-content">
            <iframe class="webview-frame" sandbox="allow-scripts allow-forms"></iframe>
        </div>
    </div>
</template>
<script>



    let url;

    function checkLoaded() { return (window.location != window.parent.location) ? true : false }
    function checkUrlParams() {
        //?app=no
    }

    let lchooks = {
        //Lifecycle Hooks
        beforeCreate() {

        },
        created() {

        },
        beforeMount() {
            app.preloader.show();
            url = "https://www.palazzostrozzi.org/mostre-palazzo-strozzi/mostre-future/?app=no";
            //check
        },
        mounted() {
            document.querySelector('iframe.webview-frame').src = url;
            setTimeout(() => { //only for simulation purpose
                app.preloader.hide();
            }, 2500);
        },
        beforeDestroy() {

        },
        destroyed() {

        },
    }

    let componentData = {
        data: function () {
            return {
                //have to sync through window.mainView.route from the life cycle hooks or page event
                //title = window.appData.content.current_shows.list[mainView.router.currentRoute.params.showId].title
            }
        },
    }

    return Object.assign({}, lchooks, componentData);

</script>