<template>
    <div class="page listpage" data-name="listing">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <svg width="12" height="19" viewBox="0 0 12 19" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                            <g id="Canvas" fill="none">
                                <g id="&#239;&#131;&#137;">
                                    <path d="M 1.75781 17.8672C 1.61719 18.0781 1.54688 18.2891 1.54688 18.5C 1.54688 18.7812 1.61719 18.9219 1.75781 19.0625L 10.0547 27.2188C 10.1953 27.4297 10.3359 27.5 10.6172 27.5C 10.8281 27.5 11.0391 27.4297 11.25 27.2188L 11.7422 26.7266C 11.8828 26.5859 11.9531 26.4453 11.9531 26.1641C 11.9531 25.9531 11.8828 25.7422 11.7422 25.5312L 4.57031 18.5L 11.7422 11.4688C 11.8828 11.3281 12.0234 11.1172 12.0234 10.8359C 12.0234 10.625 11.8828 10.4141 11.7422 10.2734L 11.25 9.71094C 11.0391 9.57031 10.8281 9.5 10.6172 9.5C 10.3359 9.5 10.1953 9.57031 10.0547 9.71094L 1.75781 17.8672Z"
                                        transform="translate(-1 -9.08749)" fill="white" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <h5 class="title uppercase">{{ label 'next_events' }}</h5>
            </div>
        </div>

        <div class="page-content">
            <div class="row">

                <h2 class="col-100 padding-left padding-right"></h2>
                <div class="col-100 tablet-50 desktop-33 padding-left padding-right"></class>
                {{#each nextEvents}}
                <a href="/next-event/{{@index}}" class="card carousel-cell">
                    <picture class="card-img">
                        <img class="lazy" data-src="{{img}}" />
                    </picture>

                    <div class="card-content card-content-padding">
                    <h3 class="lowercase">{{trim title 95}}</h3>
                    </div>

                    <div class="card-footer">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <path fill="#FFCE4D" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/>
                      </svg>
                      <p class="text-trim_multiLine text-small semibold">{{ label 'card_from' }}: {{date.from}} {{ label 'card_to' }}: {{date.to}}{{#if credit}} | {{ label 'card_credits' }}: {{credit}}{{/if}}</p>
                    </div>
                  </a>
                {{/each}}
                </div>

            </div>
        </div>
    </div>
</template>

<style>
    .svgWhite {
        width: 16px;
        height: 16px;
    }

    .svgWhite path {
        fill: white;
    }
</style>
<script>

    let on = {
        on: {
            pageBeforeIn(e, page) {
                //failback from webviews
                app.preloader.hide();
            }
        }
    }

    let componentData = {
        data: function () {
            return {
                "nextEvents": window.appData.content.next_events.list,
            }
        },
    }

    return Object.assign({}, on, componentData);

</script>
