<template>
    <div class="page webview-page" data-name="event">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <svg width="12" height="19" viewBox="0 0 12 19" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g id="Canvas" fill="none">
                                <g id="&#239;&#131;&#137;">
                                    <path d="M 1.75781 17.8672C 1.61719 18.0781 1.54688 18.2891 1.54688 18.5C 1.54688 18.7812 1.61719 18.9219 1.75781 19.0625L 10.0547 27.2188C 10.1953 27.4297 10.3359 27.5 10.6172 27.5C 10.8281 27.5 11.0391 27.4297 11.25 27.2188L 11.7422 26.7266C 11.8828 26.5859 11.9531 26.4453 11.9531 26.1641C 11.9531 25.9531 11.8828 25.7422 11.7422 25.5312L 4.57031 18.5L 11.7422 11.4688C 11.8828 11.3281 12.0234 11.1172 12.0234 10.8359C 12.0234 10.625 11.8828 10.4141 11.7422 10.2734L 11.25 9.71094C 11.0391 9.57031 10.8281 9.5 10.6172 9.5C 10.3359 9.5 10.1953 9.57031 10.0547 9.71094L 1.75781 17.8672Z"
                                        transform="translate(-1 -9.08749)" fill="white" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <h5 class="title uppercase">{{#if pluralTitle}}{{label 'next_events'}}{{else}}{{label 'next_events_single'}}{{/if}}</h5>
            </div>
        </div>

        <div class="page-content">
            <div class="webview-frame-wrapper">
                <iframe class="webview-frame" sandbox="allow-scripts allow-forms" src="{{webviewUrl}}"></iframe>
            </div>
        </div>
    </div>
</template>
<script>
    return {
        on: {
            pageInit: function (e, page) {
                app.preloader.show();
                this.webviewUrl = window.appData.content.next_events.list[mainView.router.currentRoute.params.eventId].webview;
                this.startingUrl = this.webviewUrl;
                //
                let frame = $$('iframe.webview-frame');
                //
                frame[0].src = this.webviewUrl;
                console.log(this.startingUrl);
                //
                frame.on('load', function () {
                    //if (this.src.includes('palazzostrozzi.org')) console.log('insite');
                    app.preloader.hide();
                })
                //
            },
            pageBeforeIn: function (e, page) {
                //If back from check
                if (mainView.router.previousRoute.name == "Connection Check") {
                    console.log('IS BACK FROM CHECK');
                    let frame = $$('iframe.webview-frame');
                    frame[0].src = "";
                    app.preloader.show();
                    frame[0].src = this.startingUrl;
                    frame.on('load', function () {
                        if (this.src.includes('palazzostrozzi.org')) console.log('insite');
                        app.preloader.hide();
                        //$$(this).off('load');
                    })
                }
            },
            pageBeforeRemove: function (e, page) {
                //console.log('%c[TestComponent] pageBeforeRemove', page);
                let frame = $$('iframe.webview-frame');
                frame.off('load');
            }
        },
        data: function () {
            return {
                "pluralTitle": function () {
                    if (window.appData.content.next_events.list.length > 1) return true;
                    else return false;
                },
                "startingUrl": "",
                "webviewUrl": "",
            }
        }
    }
</script>