<template>
    <div class="page" data-page="connection-check">
        <div class="page-content">

            <div class="row">

                <img id="image-offlinewifi" src="resources/images/wifioff.png">

                <h3 class="col-100 style1">{{ label 'connectionCheckMessages_heading' }}</h3>

                <div class="col-30"></div>
                <div class="col-40"><span class="progressbar-infinite color-yellow"></span></div>
                <div class="col-30"></div>

                <div class="col-100 style1 morePadding"><p>{{ label 'connectionCheckMessages_message' }}</p></div>

                <h5 class="col-100 style1 nomargintop">{{ label 'connectionCheckMessages_greetings' }}</h5>

                <div class="col-100"></div>

                <img id="image-logo" src="resources/images/menu_logo.svg">

            </div>


        </div>
    </div>
</template>
<style>
</style>
<script>
    return {
        on: {
            pageBeforeIn:function(e,page){
                //webviews: iframe failback for errors
                //if(document.querySelector('iframe')){
                //    this.iframesrc = document.querySelector('iframe').src;
                //}
                //console.log(this.iframesrc)
            },
            pageBeforeOut: function(e, page) {
                //if there is an iframe it will be reload
                //if(document.querySelector('iframe')){
                //    document.querySelector('iframe').src = this.iframesrc;
                //}
            }
        },
        methods: {

        },
        data:function(){
            return {
                iframesrc: ""
            }
        }
    }
</script>